.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    padding-top: 5%;
    padding-left: 33%;
  }

  .headd{
      margin-left: 35%;
  }

  body{
      background-color: blueviolet;
  }

  .scre{
      padding-top: 5%;
      padding-left: 40%;
      
  }